<aside class="sidebar" id="web-sidebar">
  <button
    class="sidebar__toggle"
    id="sidebar-toggle"
    type="button"
    aria-label="Toggle sidebar"
    aria-expanded="true"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-layout-sidebar"
      viewBox="0 0 16 16"
      aria-hidden="true"
    >
      <path
        d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5-1v12h9a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM4 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h2z"
      />
    </svg>
  </button>
  <nav class="sidebar__nav" aria-label="Primary">
    <a class="sidebar__link" href="./home.html">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-house"
        viewBox="0 0 16 16"
        aria-hidden="true"
      >
        <path
          d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"
        />
      </svg>
      <span class="sidebar__text">Home</span>
    </a>
    <a class="sidebar__link" href="./connections.html">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-link"
        viewBox="0 0 16 16"
        aria-hidden="true"
      >
        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
        <path
          d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"
        />
      </svg>
      <span class="sidebar__text">Connections</span>
    </a>
    <a class="sidebar__link" href="./signup.html">
      <svg width="16" height="16" fill="currentColor" aria-hidden="true">
        <path d="M2 4h12v8H2z" />
      </svg>
      <span class="sidebar__text">Billing</span>
    </a>
  </nav>
</aside>
